<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card " data-aos="fade-up">
                <div class="card-header d-flex justify-content-center mb-3">
                    <a href="/admin/user-report"><h4 class="card-title">User Report</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" data-aos="fade-down">
                <div class="card-header d-flex justify-content-center mb-3">
                    <a href="/admin/order-report"><h4 class="card-title">Order Report</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card " data-aos="fade-up">
                <div class="card-header d-flex justify-content-center mb-3">
                    <a href="/admin/vendor-report">
                        <h4 class="card-title">Vendor Report</h4>
                    </a>
                    <h1 class="card-title text-info">{{result.orders}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>