<section class="confirmation_part padding_top">
    <div class="container">
        <div class="row">
            <div class=" col-lx-4 col-lg-12 d-flex justify-content-center">
                <div class="single_confirmation_details pl-0 pr-0">
                    <div class="d-flex justify-content-center mb-5">
                        <h3>Change Password</h3>
                    </div>
                    <form action="/change-password" method="POST" id="change-password">
                        <table style="border-spacing:200px 10px ;border-collapse: separate;table-layout:fixed;margin:0;"
                            class="d-flex justify-content-center">
                            {{#if passwordError}}
                            <div class="d-flex justify-content-center">
                            <p>{{passwordError}}</p>
                            </div>
                            {{/if}}
                            <tr>
                                <td>Current Password:</td>
                                <td width="300px" class="text-right field"><input type="password" class="single-input"
                                        id="password" name="password" value="" placeholder="Password">
                                </td>
                            </tr>
                            <tr>
                                <td>New Password:</td>
                                <td class="text-right"><input type="password" name="newpassword" placeholder="New Password"
                                        class="single-input" id="newpassword"></td>
                            </tr>
                            <tr>
                                <td>Confirm Password:</td>
                                <td class="text-right"><input type="password" name="cnfpassword"
                                        placeholder="Confirm Password" class="single-input"></td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-center mb-5 mt-5">
                            <button type="submit" class="btn_3">Save</button>
                            <a class="btn_3 ml-5" href="/edit-profile">Back</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{{!-- script --}}

<script>
    $(function(){
    $("#change-password").validate({
        rules:{
            password:{
                required:true,
                minlength:5
            },
            newpassword:{
                required:true,
                minlength:5
            },
            cnfpassword:{
                equalTo: "#newpassword"
            },
        }
      });
     })

    $(function () {
    $(window).scroll(function () {
      var scroll = $(window).scrollTop();
      if (scroll > 60) {
        $(".navbar").css("background", "white");
      }
      else {
        $(".navbar").css("background", "transparent");
      }
    })
  })
</script>