<!--================login_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>Register and become a part of this beautiful journey</p>
                        <div class="inline-flex">
                            <a href="/signup" class="btn_3 pl-4 pr-4">Create an Account</a>
                            <a href="/otp-register-form" class="btn_3 pl-4 pr-4 ">Register with otp</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        {{#if loginError}}
                        <p>{{loginError}}</p>
                        {{else}}
                        <p>{{blockMessage}}</p>
                        {{/if}}
                        <form class="row contact_form" action="/login" method="post" novalidate="novalidate" id="login">
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="user_email" value=""
                                    placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">
                                    Sign in
                                </button>
                                <button type="submit" value="google" class="btn_3">
                                    Sign in with google <i class="fab fa-google"></i>
                                </button>
                                <a class="text-right" href="/otp-login">Login with OTP</a>
                                <a class="lost_pass" href="">forget password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
{{!-- scripts --}}
<script>
    $(function () {
        $("#login").validate({
            rules: {
                user_email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                }
            }
        })
    })
</script>