<!--================login_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>Register and become a part of this beautiful journey</p>
                        <div class="inline-flex">
                            <a href="/signup" class="btn_3 pl-4 pr-4">Create an Account</a>
                            <a href="/otp-register-form" class="btn_3 pl-4 pr-4 ">Register with otp</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        {{#if loginError}}
                        <p>Invalid Username or Password</p>
                        {{/if}}
                        <form class="row contact_form" action="/" method="post" novalidate="false" id="otp-register">
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="user_emailcheck" value=""
                                    placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="mobile" name="mobilecheck" value=""
                                    placeholder="10-digit mobile number">

                                <p style="color: red; display: none;" id="mobile-incorrect">Something went wrong </p>
                            </div>
                            <div class="col-md-12 form-group">
                                <p style="color: red; display: none;" id="error">User already exists</p>
                                <button type="submit" value="submit" class="btn_3" id="verifybutton1">
                                    Send OTP
                                </button>
                                <a class="text-right" href="/otp-login">Login with OTP</a>
                                <p style="color: red; display: none;" id="otp-incorrect">Incorrect OTP</p>

                            </div>
                        </form>
                        <div class="col-md-12 form-group mt-3 d-flex justify-content-center">
                            <a class=" lost_pass" href="" id="resend-otp" style=" display: none;">Re-send OTP?</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style> 
    /* this is not a good practice, try to make all css into a single file for each module */
    #partitioned {
        padding-left: 15px;
        letter-spacing: 40px;
        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 48px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 305px;
        min-width: 305px;
    }

    #divInner {
        left: 0;
        position: sticky;
    }

    #divOuter {
        width: 290px;
        overflow: hidden;

    }
</style>
<!--================login_part end =================-->
{{!-- scripts --}}
<script>
    $(function () {
        $("#otp-register").validate({
            rules: {
                user_emailcheck: {
                    required: true,
                    email: true
                },
                mobilecheck: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                }
            },
            submitHandler: function () {
                $('#error').hide()
                $("#resend-otp").hide()
                let mobile = $('#mobile').val()
                let email = $('#email').val()
                $('#verifybutton1').attr("disabled", true);
                $.ajax({
                    url: '/verify-otp-register',
                    method: 'post',
                    data: {
                        mobile, email
                    },
                    success: (response) => {
                        if (response.status) {
                            console.log("ajax");
                            console.log(response.status, response.email, response.mobile);
                            $("#otp-register").replaceWith(`<form class="row contact_form" id="otp-register-submit" action="/" method="post"><div id="divOuter"> <div id="divInner"> <input id="partitioned" name="otpinput" type="password" maxlength="6"  onKeyPress="if(this.value.length==6) return false;"/> </div> </div> <br>  <button type="submit" value="submit" id="verifybutton" class="btn_3 d-flex justify-content-center"> Verify </button> <p style="color: red; display: none;" id="otp-incorrect">Incorrect OTP</p> <input type="email" id="emailhidden" name="user_emailhidden" value="" hidden> <input type="text" id="mobilehidden" name="mobilehidden" value="" hidden> </form>`);
                            document.getElementById('emailhidden').value = response.email
                            document.getElementById('mobilehidden').value = response.mobile
                            $("#resend-otp").show()
                        } else if (response.error) {
                            $('#verifybutton1').attr("disabled", false);
                            $('#mobile-incorrect').show()
                            
                        } else {
                            $('#verifybutton1').attr("disabled", false);
                            $('#error').show()
                        }
                        //2nd ajax on the same page after the success of first, this one is for the submit of verify button
                        $(document).ready(function () {
                            $("#otp-register-submit").validate({
                                rules: {
                                    otpinput: {
                                        required: true,
                                        digits: true,
                                        minlength: 6,
                                        maxlength: 6
                                    }
                                },
                                submitHandler: function (e){
                                    let mobile = $('#mobilehidden').val()
                                    let email = $('#emailhidden').val()
                                    let otp = $('#partitioned').val()
                                    $('#otp-incorrect').hide()
                                    $('#verifybutton').attr("disabled", true);
                                    $.ajax({
                                        url: '/otp-register-submit',
                                        method: 'post',
                                        data: {
                                            otp, mobile, email
                                        },
                                        success: (response) => {
                                            if (response.status) {
                                                window.location.href = '/'
                                            } else {
                                                $('#otp-incorrect').show()
                                            }
                                        },
                                        complete: function () {
                                            //Ajax request is finished, so we can enable
                                            //the button again.
                                            $('#verifybutton').attr("disabled", false);
                                        }
                                    })
                                    return false
                                }
                            })

                        })
                        //2nd ajax finish
                    }
                })
                return false;
            }

        })
    })





    //script for otp input feild 

    //script for otp input feild 


</script>